body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;


}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* HEADER */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
}

.logo { 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.logo-part {
    color: #2e2f42;
}


.navigation {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    gap: 40px;
    }
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
    
}
.current{
   position: relative;
   color:  #404bbf;
}
.current::after{
    content: "";
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
    left: 0;
    bottom: -1px;
}
.address {
    font-style: normal;
    margin-left: auto;
}
.address-list {
    display: flex;
    gap: 40px;
}

.adres-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adres-link:hover,
.adres-link:focus {
    color: #404bbf;
}
/* HERO */

.hero {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2e2f42;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-size: cover;
}
.hero-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    margin-bottom: 48px;
}
.hero-button {
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
   
}
.hero-button:hover,
.hero-button:focus {
    background: #404bbf;
}
/* BENEFITS */
.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.section-padding {
    padding: 120px 0;
    
}
.benefits-list {
    display: flex;
    gap: 24px; 
}
.benefits-list-item {
    width: 264px;
}
.ben-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    min-width: 264px;
    margin-bottom: 8px;
}
.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.benefits-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* OUR TEAM */
.our-team-box {
    background: #f4f4fd;
}
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.our-team-conteiner {
    display: flex;
    gap: 24px;
    
}
.our-team-list {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

.team-personal-container {
    padding: 32px 0;
}
.team-personal-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.team-personal-work {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;   
    color: #434455; 
    text-align: center;
    margin-bottom: 8px;

}
.soc-link{
    display: flex;
    gap: 24px;
    justify-content: center;
    
}
.soc-item{
    width: 40px;
    height: 40px;
}
.link-soc {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-soc:hover,
.link-soc:focus{
    background-color: #404BBF;
}
.soc-icons {
    fill: #f4f4fd;
    justify-content:  center;
}
/* OUR PORTFOLIO */
.portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px
    
}
.portfolio-list-item{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    cursor: pointer;
}
.portfolio-overlay {
    position: relative;
    overflow: hidden;  
}
.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover  .text-overlay{
    transform: translateY(0%);
}

.portfolio-app-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-app {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-app-sfere {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* FOOTER */
.footer-section {
    background-color: #2e2f42;
    padding: 100px 0 100px;
}
.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.logo-part-footer {
    line-height: 1.17;
    color: #f4f4fd;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-container{
    display:flex;
    align-items: baseline; 

}
.footer-left-container{
    margin-right: 120px;
}
.social-page{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.social-page-menu{
    display: flex;
    gap:16px;
}
.social-page-item {
    width: 40px;
    height: 40px;
}
.social-page-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-page-link:hover,
.social-page-link:focus{
    background-color: #31D0AA;

}
.forms-footer{
    margin-left: 80px;
}
.forms-parf{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;   
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;   
}
.forms-container {
    display: flex;
    gap: 24px;
}
.lable{
    color: #FFFFFF;
}
.forms-input{
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-left: 16px;
    background-color: transparent;
}
.button-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    fill: #FFFFFF;
    color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-submit:hover,
.button-submit:focus{
    background: #404bbf;
}
.svg-send{
    margin-left: 16px;
}
/* BACKDROP */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color: #404bbf;
    border: none;
}
.modal-close-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon{
    fill: #FFFFFF;
}

.rewiew-form-description{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.rewiew-wrapper {
    margin-bottom: 8px;
}
.rewiew-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.rewiew-for-imput-wrapper {
    position: relative;
}
.rewiew-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.rewiew-input:focus{
    border-color: #4d5ae5;
}
.rewiew-input:focus + .rewiew-icon{
    fill: #4d5ae5;
}
.rewiew-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.rewiew-wrapper-two{
    margin-bottom: 16px;
}
.rewiew-message {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}
.rewiew-message:focus{
    border-color: #4d5ae5;
}
.rewiew-checkbox {
    margin-bottom: 24px;
}
.rewiew-form-checkbox{

}

.rewiew-checkbox-wrapper {
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    font-size: 12px;
}
.rewiew-span-checbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.rewiew-form-checkbox:checked + .rewiew-checkbox-wrapper .rewiew-span-checbox{
    background-color: #404bbf;
    border: #404bbf;
    fill: #F4F4FD;
}
.privacy-policy {
    color: #4d5ae5;
    text-decoration: underline;
}
.rewiew-form-submit {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.rewiew-form-submit:hover,
.rewiew-form-submit:focus{
    background: #404bbf;
}